# To run action locally, brew install act
# act -j colcon-build-and-test --secret-file .secrets --var-file .secrets
# To run on github, set those variables with github cli:
# gh secret set <ONE_OF_THE_SECRETS_BELOW> <VALUE>
# gh variable set <ONE_OF_THE_VARS_BELOW> <VALUE>

###########
# secrets
###########

# For git hub, get a classical PAT at https://coscene.cn/profile?section=security
DOCKER_USERNAME=<GITHUB_USERNAME>
DOCKER_PASSWORD=<GITHUB_PERSONAL_ACCESS_TOKEN>

# For coscene container registry, get the username and password pair at
# https://coscene.cn/org/images and click the button: "Access or Push image"
#DOCKER_USERNAME=<COSCENE_CR_USERNAME>
#DOCKER_PASSWORD=<COSCENE_CR_PASSWORD>

# Get your token at https://coscene.cn/profile?section=security
COSCENE_ACCESS_TOKEN=<COSCENE_ACCESS_TOKEN>

###########
# vars
###########

# For coscene container registry, get the username and password pair at
# https://coscene.cn/org/images and click the button: "Access or Push image"
DOCKER_REGISTRY=cr.coscene.cn

# The name of the image to push to the container registry
# make sure the user of the tokens is under the same org
IMAGE_NAME=<YOUR_ORG_NAME>/<IMAGE_NAME>

# The endpoint of the coscene api
COSCENE_ENDPOINT=api.coscene.co

# The full slug of the project
COSCENE_PROJECT=<YOUR_ORG_NAME>/<YOUR_PROJECT_NAME>
